
<!-- views/partials/body_about.ejs -->


<!-- Contact Detail -->		
<div class="contact-form container-fluid">
	<div class="col-sm-6 col-sm-offset-3 text-center mt200">
		<div class="big-title text-white mb10">GỬI NỘI DUNG</div>
		<p class="text-contact mb30">Độ dài chuỗi nhập vào phải ít hơn 25 ký tự và không chứa các ký hiệu đặc biệt.
		<form action="/send" method="post" class="dark-theme form-size">

			<div class="text-left">
				<label class="title">NỘI DUNG</label>
				<input type="text" id="txtContent" class="form-control input-lg" name="txtContent" required>
			</div>
			
			<input type="submit" id="submit-feedback" class="btn btn-lg btn-white-border min-w150 mt26" />
		</form>

		<% if (alert_success != '') { %>
			<div class="alert alert-success mt30">
				<strong>Success!</strong> <%= alert_success %>
			</div>
		<% } %>

		<% if (alert_danger != '') { %>
			<div class="alert alert-danger mt30">
				<strong>Danger!</strong> <%= alert_danger %>
			</div>
		<% } %>

	</div>
</div>

