


<div class="login-form">
	<div class="logo text-center mb30"><img src="images/logo_login.png" alt=""></div>
	<div class="panel panel-default mb30">
		<form action="/doi-mat-khau" method="post">
			<div class="panel-header text-center">Đổi mật khẩu</div>
			<div class="panel-body">
				<div class="mb20">
					<label class="title">MẬT KHẨU</label>
					<input type="password" name="current_pass" class="form-control input-lg" placeholder="Nhập mật khẩu hiện tại...">
				</div>
				<div class="mb20">
					<label class="title">MẬT KHẨU MỚI</label>
					<input type="password" name="new_password" class="form-control input-lg" placeholder="Nhập mật khẩu mới...">
				</div>
				<div class="mb20">
					<label class="title">LẶP LẠI MẬT KHẨU MỚI</label>
					<input type="password" name="reType_password" class="form-control input-lg" placeholder="Nhập lại mật khẩu mới...">
				</div>
				<div class="row mt30">
					<div class="col-xs-10 col-xs-offset-1">
						<input type="submit" name="change_pwd" class="btn btn-blue btn-block btn-lg" value="LƯU THAY ĐỔI">
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<hr class="mt20 mb10">
				<a href="/" class="gray-color"><small>Hủy thay đổi mật khẩu</small></a>
			</div>
		</form>
	</div>
</div>