
<div class="navbar-full-width">
<div class="navbar navbar-default navbar-dark">
	<div class="navbar-header">
		<a href="#" class="btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navi-collapse"><i class="zmdi zmdi-menu zmdi-hc-lg"></i></a>
		<a class="navbar-brand" href="/">
			<img src="/images/logo_ChatBot.png" alt="wabisabi" id="wabisabi_logo">
		</a>
	</div>
	
	<div class="collapse navbar-collapse" id="navi-collapse">
		<ul class="nav navbar-nav">
			<% if (page == 'contact') { %>
			<li class="active"><a class="text_navbar" href="/lien-he">GỬI TIN</a></li> <% } else { %>
			<li><a class="text_navbar" href="/lien-he">GỬI TIN</a></li> <% } %>
			<% if (!logged) { %>
			<li><a class="text_navbar" href="/login">ĐĂNG NHẬP</a></li>
			<% }; %>
		</ul>
	</div>
	
</div>
<div class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<% if (!logged) { %>
		<span class="hidden-xs mr5">User</span>
		<% } else { %>
		<span class="hidden-xs mr5 schoolName"><%= schoolName %></span>
		<% } %>
		<i class="zmdi zmdi-account zmdi-hc-lg mr5 visible-xs"></i>
		<i class="zmdi zmdi-caret-down hidden-xs"></i>
	</a>
	<ul class="dropdown-menu the-menu-right">
		<% if (logged) { %>
		<li><a href="#">Chỉnh sửa tiểu sử</a></li>
		<li><a href="/doi-mat-khau">Đổi mật khẩu</a></li>
		<li class="divider"></li>
		<li><a href="/logout">Đăng xuất</a></li>
		<% } else { %>
		<li><a href="/login">Đăng nhập</a></li>
		 <% } %>
	</ul>
</div>
</div>

