<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top mb-4">
		<a class="navbar-brand" href="/">
			<img src="/images/wabisabi.png" alt="wabisabi" id="wabisabi">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<% if (user) { %>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/statistic">Thống kê</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Liên hệ</a>
				</li>
				
			</ul>
			<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex float-right">
				<li class="nav-item nav-link">
					Wabisabi
				</li><a class="btn btn-outline-light my-2 my-sm-0 " href="/logout">Đăng xuất</a>

			</ul>
			<% } else { %>
			<div class="flex-row ml-md-auto d-none d-md-flex">
	            <a class="btn btn-outline-light my-2 my-sm-0" href="/login">Đăng nhập</a>
				<a class="btn btn-outline-light my-2 my-sm-0 btn-register" href="/register">Đăng ký</a>
        	</div>
          <% } %>
		</div>
	</nav>