
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Quản lý nội dung LED</title>
	<%- include('partials/head_tag') %>
</head>
<body>
	<%- include('partials/menuBar') %>
	<%- include('partials/body_about') %>
	<%- include('partials/footer.ejs') %>
</body>
</html>