<!DOCTYPE html>
<html lang="en">
<head>
	<title>Đăng nhập</title>
	<%- include('partials/head_tag') %>
</head>
<body class="before-login">
	<div class="my-modal" id="login-modal" role="dialog">
		<div class="modals-dialog">
			<div class="loginmodal-container">
				<%- include('partials/change_pass_form_field') %>
			</div>
		</div>
	</div>
</body>
</html>