
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,600');
* {
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
}
body {
	font-family: 'Source Sans Pro',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
body.before-login {
	background: url(../images/background_login.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.navbar-dark {
	font-weight: 500;
    /*background-color: #2a8fcf;*/
	background-color: #29aff4;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1) !important;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 5px 15px;
	font-size: 18px;
	line-height: 20px;
}

.text_navbar {
	color: #fff;
}

#wabisabi_logo {
	height: 40px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #2b7db1;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #2b7db1;
}

.container-fluid {
	padding-right: 100px;
	padding-left: 100px;
}

.page_name{
	padding-top: 70px;
	font-size: 36px;
	font-weight: 300;
	line-height: 45px;
	text-align: center;
}

.form_activity {
	padding-top: 80px;
}

.table_area {
	padding-top: 80px;
}
.login-form {
    max-width: 360px;
    margin: 50px auto;
}

.panel {
  box-shadow: #eee 0 2px 0 0;
  border: 1px solid #eee; 
}
.mb30 {
    margin-bottom: 30px;
}
.mb20 {
    margin-bottom: 20px;
}

.panel .panel-header {
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: none;
    padding: 20px 30px;
}
.panel .panel-footer {
	background-color: white;
	border: none;
	padding: 20px 30px 30px;
}
.panel .panel-body {
	padding: 0 30px;
}
.panel.only-body .panel-body {
	padding: 20px 30px;
}
label.title {
    font-size: 12px;
    font-weight: bold;
    color: #9B9B9B;
}
input[type=text], input[type=password], input[type=email], textarea {
    color: black;
    border-radius: 3px;
    background-color: #f8f8f8;
    border: 2px solid #f8f8f8;
    -webkit-appearance: none;
}
.form-control {
    transition: none;
}
.mr5 {
    margin-right: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt18 {
    margin-top: 18px;
}
.mt20 {
    margin-top: 20px;
}
.mt26{
    margin-top: 26px;
}
.mt30 {
    margin-top: 30px;
}
.mt70{
    margin-top: 70px;
}
.mt100{
    margin-top: 100px;
}
.mt200{
    margin-top: 200px;
}
.btn.btn-lg {
    font-size: 16px;
}
.btn-blue, a.btn-blue {
    background-color: #3DA9F8;
    color: white;
    border-radius: 3px;
    padding: 12px 25px;
}
.panel .panel-footer {
    background-color: white;
    border: none;
    padding: 20px 30px 30px;
}
.gray-color {
    color: #9B9B9B;
}
body.before-login .powered-by {
    font-size: 10px;
    width: 100%;
    text-align: center;
    color: #6696ce;
}
.banner-mobile img {
    display: none;
}
.myCarousel {
    padding-top: 5rem;
}
.carousel-inner>.item>img {
    display: inline !important;
}
.use-service {
    margin-top: 7.5rem;
    margin-bottom: 20.5rem;
}
.btn-use-service, .btn-use-service:visited {
    font-size: 20px;
    font-weight: bold;
    color: #2a8fcf;
    border: 2px solid #2a8fcf;
    padding: 1rem 4rem;
}
.btn-use-service:hover {
    background-color: #2a8fcf;
    color: #ffffff;
}
.featured {
    background-color: #fafafa;
    padding-top: 5rem;
    padding-bottom: 8rem;
}
.about-featured {
    margin-top: 6rem;
}
.my-contacts {
    padding-top: 2rem;
    padding-bottom: 7rem;
}
.about-featured-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.4;
    font-size: 30px;
    font-weight: 300;
}
.about-box {
    margin-top: 4rem;
    padding: 1rem;
}
.about-box > img {
    max-width: 80px;
    margin-bottom: 1.5rem;
}
.about-poforlio {
    margin-top: 3rem;
    padding-top: 5rem;
    margin-bottom: 3rem;
}
.about-img > img {
    max-width: 20rem;
    border-radius: 10px;
}
.gold-medal-img {
    position: absolute;
    top: 0;
    left: 30;
    width: 40px;
}
.about-info {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #030303;
}
.about-info h3 {
    font-size: 22px !important;
}
.about-info-quote {
    font-size: 14px;
}
.about-info-school {
    color: #3ab9e8;
}
.view-profile {
    margin-bottom: 1rem;
}
.about-contact {
    background-color: #149cce;
    color: #ffffff;
    padding: 3rem;
}
.customer-contact > h4 {
    margin-left: 2rem;
}
.customer-contact-form {
    padding: 2rem;
}
#customer-submit {
    width: 250px;
}
.footer {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    padding: 2rem;
}

@media screen and (max-width: 480px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .banner-mobile img {
        display: block;
        margin-top: 5rem;
        max-width: 430px;
    }
    .myCarousel, .use-service {
        display: none;
    }
    .featured {
        width: 430px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .my-contacts {
        width: 430px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .about-info {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2rem;
    }
    .page-name {
        margin-top: 0;
        height: 20px;
    }
    .contact-form {
        width: 430px;
        background: none;
        background-color: #3d3d3d;
        background-size: auto;
    }
}
@media (max-width: 768px) {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    .use-service {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .row {
        width: auto;
    }
    .my-contacts {
        padding-top: 0;
        padding-bottom: 0;
    }
    .page-name {
        margin-top: 4rem;
        padding-top: 0;
    }
    .about-poforlio {
        padding-top: 0;
    }
    .about-info-quote {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .contact-form {
        background-size: auto;
    }
    .about-info {
        padding-bottom: 2rem;
    }

    .about-featured {
        margin-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .about-featured-title {
        font-size: 26px;
    }
}
@media (max-width: 768px) and (max-width: 992px) {
    .use-service {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .use-service {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

/*Viết Hưng*/
.contact-form {
    width: 100%;
    background: url(../images/bg-contact.jpg) no-repeat;
    background-position: bottom center;
    padding: 40px 0;
    height: 100vh;
}
.big-title {
    padding-top: 10px;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    color: black;
    text-align: center; }

.text-white {
  color: #fff; }
.text-contact{
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}
.form-size{
  max-width: 400px;
  margin: auto;
}
.text-contact{
  color: #fff;
  font-size: 18px;
  line-height: 23px;
}
form.dark-theme label.title {
  color: white !important; }
form.dark-theme input[type=text], form.dark-theme input[type=password], form.dark-theme input[type=email], form.dark-theme textarea {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  background-color: transparent !important;
  box-shadow: none !important; }
form.dark-theme input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important; }

.btn {
  border-radius: 8px; 
}
.btn.btn-lg {
    font-size: 14px;
    font-weight: bold;
}
.btn-white-border, a.btn-white-border {
    background-color: transparent !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 8px;
    padding: 9px 25px;
    text-transform: uppercase !important;}
.min-w150 {
  min-width: 150px; 
}
.min-w300 {
  min-width: 300px; 
}
/*thêm ngày 06/10/2017*/
.checkbox {
    margin-top: 0;
}
.form-activity-size{
  max-width: 90%;
  margin: auto;
}
.btn-orange-border, a.btn-orange-border {
    background-color: #FF8903 !important;
    color: white !important;
    text-transform: uppercase !important;
    border-radius: 8px;
    border: 2px solid #FF8903 !important;
    padding: 9px 25px;
}
.btn-blue-border, a.btn-blue-border {
    background-color: #2a8fcf !important;
    color: white !important;
    text-transform: uppercase !important;
    border-radius: 8px;
    border: 2px solid #2a8fcf !important;
    padding: 9px 25px;
}
.mb50 {
    margin-bottom: 50px;
}
/*===STYLE FOR ACTIVITIES PAGE*/
.nav-activity {
    margin-top: 10rem;
    text-transform: uppercase;
    font-weight: bold;
}
.page_name_activity{
    padding-top: 2rem;
    margin-bottom: 2rem;
	font-size: 36px;
	font-weight: 300;
	line-height: 45px;
	text-align: center;
}

/*Hưng thêm ngày 21/10/2017*/
.table-bordered thead {
    text-transform: uppercase;
}
.btn-detail:after{
    content: "Chi tiết";
}

.activityDisable {
    background-color: #ececec !important;
}

.dropdown-menu-right {
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 10 !important;
}


.the-menu-right {
    top: 50px;
    right: 0;
    left: auto;
    border-radius: 3px !important;
    border: none !important;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.the-menu-left {
    top: 50px;
    border-radius: 3px !important;
    border: none !important;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.the-menu-left:hover, .the-menu-left a:hover {
    border: 1px solid #29aff4;
    background-color: #29aff4;
    color: white;
}

.dropdown-menu-right a{
    color: black;
}

.dropdown-menu-right a:hover{
    text-decoration: none;
}

.login-form img{
    height: 150px;
}

a.touch-link, a:active.touch-link, a:focus.touch-link, a:link.touch-link {
    padding: 6px 7px; 
}
a.touch-link .zmdi-edit .zmdi-triangle-down, a:active.touch-link .zmdi-edit .zmdi-triangle-down, a:focus.touch-link .zmdi-edit .zmdi-triangle-down, a:link.touch-link .zmdi-edit .zmdi-triangle-down{
    color: #5CAF00 !important;
}
a.touch-link .zmdi-delete, a:active.touch-link .zmdi-delete, a:focus.touch-link .zmdi-delete, a:link.touch-link .zmdi-delete {
    color: #D0021B !important; 
}

.navbar-full-width {
    width: 100%;
    position: fixed;
    z-index: 999;
    
}
.navbar-full-width .dropdown {
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 1500 !important; 
}

.navbar-full-width .dropdown .dropdown-toggle {
    padding-top: 15px;
    color: #fff;
    display: block;
}
.navbar-full-width .navbar-toggle {
    border: none !important;
    background-color: transparent !important;
    margin-top: 7px;
    color: white !important;
}

@media (max-width: 768px) {
    .navbar-full-width .dropdown {
        right: 60px;
        padding: 5px 10px;
    }
}
.schoolName {
    text-transform: uppercase;
}

.table-home .table-bordered>thead>tr>th, .table-home .table-bordered>tbody>tr>td{
    border: 0;
}
.table-home .table>thead>tr>th {
    border-bottom: 2px solid #ddd;
}

.action {
    width: 70px;
    text-align: center;
}
.Stt {
    width: 40px;
    text-align: center;
}

.navbar-full-width .dropdownHome {
    position: relative;
    top: 0;
    z-index: 1500 !important; 
}
.ml10 {
    margin-left: 10px;
}








